* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4em 3.5em;
  margin-left: 1.2em;
  margin-right: 1.2em;
  background-color: white;
  /* position: sticky; */
  top: 0;
  z-index: 10;
}

.logo {
  font-weight: 800;
  font-size: 1.2em;
  letter-spacing: 4px;
  /* font-size: 20px; */
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 25px;
  font-size: 14px;
}

.nav-menu a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-bottom: 2px solid transparent;
}

.nav-menu a:hover, .nav-menu a:focus {
  border-bottom: 2px solid black;
}

.icons {
  font-size: 2px;
  position: relative;
}

.badge {
  background-color: #00FFFF;
  color: white;
  border-radius: 50%;
  padding: 2px 7px;
  font-size: 12px;
  position: absolute;
  top: -8px;
  right: -10px;
}

.ima {
  height: 100vh;
  background:url("/asset/images/produits/hero_1.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.ima::before {
  content: "";
  position: absolute;
  inset: 0;
}

.ima-cont {
  position: relative;
  z-index: 2;
}

.medecine {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 2px;
  margin-bottom: 0.5em;
}

.bienvenu {
  font-size: 56px;
  font-weight: 800;
  /* line-height: 1.2; */
  margin-bottom: 0.8em;
}

.btn {
  padding: 1.5em 3em;
  margin-top: 2em;
  background-color: #32f2e4;
  color: black;
  text-decoration: none;
  /* font-weight: bold; */
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 0.9em;
}

.btn:hover {
  background-color: #1ccfc4;
}

.action{
  text-align: center;
  display: flex;
  padding-left: 5em;
  padding-right: 5em;
  gap: 2em;
  position: absolute;
  top: 46em;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 50em;
}

/* .service1{
  background-color: #32f2e4;
  color: white;
  padding: 2.5em;
  width: 20em;
  height: 17em;
}

.service2{
   background-color: #50ba35;
  color: white;
  padding: 2.5em;
  width: 20em;
  height: 17em;
}

.service3{
   background-color: gold;
  color: white;
  padding: 2.5em;
  width: 20em;
  height: 17em;
} */

/* .h1{
  padding: 0.7em;
} */

/* .services {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
    background-color: white;
} */

.service {
    flex: 1;
    padding: 2.5em;
    color: white;
    text-align: center;
    border-radius: 0.3em;
    width: 20em;
    height: 17em;
}

.service h3 {
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 10px;
}

.service h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.service p {
    font-size: 0.9em;
    line-height: 1.5;
}