* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4em 3.5em;
  margin-left: 1.2em;
  margin-right: 1.2em;
  background-color: white;
  top: 0;
  z-index: 10;
}

.logo {
  font-weight: 800;
  font-size: 1.2em;
  letter-spacing: 4px;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 25px;
  font-size: 14px;
}

.nav-menu a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-bottom: 2px solid transparent;
}

.nav-menu a:hover, .nav-menu a:focus {
  border-bottom: 2px solid black;
}

.icons {
  font-size: 2px;
  position: relative;
}

.badge {
  background-color: #00FFFF;
  color: white;
  border-radius: 50%;
  padding: 2px 7px;
  font-size: 12px;
  position: absolute;
  top: -8px;
  right: -10px;
}

.ima {
  height: 100vh;
  background:url("/asset/images/produits/hero_1.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.ima::before {
  content: "";
  position: absolute;
  inset: 0;
}

.ima-cont {
  position: relative;
  z-index: 2;
}

.medecine {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 2px;
  margin-bottom: 0.5em;
}

.bienvenu {
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 0.8em;
}

.btn {
  padding: 1.5em 3em;
  margin-top: 2em;
  background-color: #32f2e4;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 0.9em;
}

.btn:hover {
  background-color: #1ccfc4;
}

.action-container{
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 1180px;
  margin: 0 auto;
}

.action{
  text-align: center;
  display: flex;
  /* padding: 0 5em; */
  gap: 2em;
  position: absolute;
  top: -70px;
}

.service {
  flex: 1;
  padding: 2.5em;
  color: white;
  text-align: center;
  border-radius: 0.3em;
  width: 21em;
  height: 18em;
}

.service h3 {
    font-size: 1.5em;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.service h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.service p {
    font-size: 0.9em;
    line-height: 1.5;
}

/* .produit-section{
  max-width: 1180px;
  margin: 0 auto;
  margin-top: 27em;
  text-align: center;
  font-size: 0.7em;
}

.produit-section h2{
    font-size: 2.5em;
    font-weight: 900;
    margin-bottom: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.produit-container{
    display: flex;
    gap: 10em;
    position: relative;
    margin-bottom: 10em;
}

.produit-container h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.produit-container p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.4em;
}

.ancien-prix{
    text-decoration: line-through;
    color: rgb(21, 1, 1);
}

.badge-vente{
    position: absolute;
    top: 7em;
    left: 3.5em;
    background-color: rgb(231, 104, 14);
    color: white;
    padding: 1em 1em;
    font-size: 12px;
    font-weight: bold;
    transform: rotate(-90deg);
    height: 3em;
    width: 8em;
    letter-spacing: 0.2em;
}

.badge-vente2{
    position: absolute;
    top: 7em;
    left: 3.5em;
    background-color: rgb(231, 104, 14);
    color: white;
    padding: 1em 1em;
    font-size: 12px;
    font-weight: bold;
    transform: rotate(-90deg);
    height: 3em;
    width: 8em;
    letter-spacing: 0.2em;
}

.view-all{
    background-color: #5ce1e6;
    color: black;
    padding: 2em 5em;
    border-radius: 5px;
    cursor: pointer;
    height: 3em;
    width: 25em;
    display: inline;
}

.view-all:hover{
    background-color: azure;
    color: #5ce1e6;
    border-color: #5ce1e6;
} */


/* my styles for product section */

.popular-products{
  margin-top: 23.7em;
}

.popular-products h2{
  text-align: center;
  font-size: 1.9em;
  font-weight: 900;
  margin-bottom: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.popular-product-container{
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
}

.product-badge{
  position: relative;
  width: 8em;
}

.sell-badge{
  position: absolute;
  top: 5em;
  background-color: rgb(231, 104, 14);
  color: white;
  padding: 1em 1em;
  font-size: 12px;
  transform: rotate(-90deg);
  height: 3em;
  width: 8em;
  letter-spacing: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800 !important;
}

.product-list{
  flex-grow: 1;
  display: grid;
  place-items: center;
  left: -5em;
  grid-template-columns: repeat(3, 1fr);
  gap: 6em;
  position: relative;
}

.product-card{
  text-align: center;
}

.product-card h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.7em;
    margin-bottom: 0.5em;
}

.product-card p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1em;
}

.ancien-prix{
  text-decoration: line-through;
  color: rgb(21, 1, 1);
}

.middle-badge{
  position: absolute;
  bottom: 25em;
  right: 15em;
}

.all{
 display: flex;
 justify-content: center;
 margin-top: 7em;
}

.view-all{
  background-color: #4de1e3;
  text-align: center;
  padding: 1.5em 3em;
  text-decoration: none;
  border-radius: 0.3em;
  transition: background-color 0.3s ease;
  font-size: 0.9em;
  color: black;
}

.view-all:hover {
  background-color: beige;
}





.new-product{
  background-color: rgb(250, 250, 248);
  margin-top: 5em;
}

.new-product h3{
  padding-top: 3em;
  text-align: center;
  font-size: 30px;
  font-style: initial ;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  margin-bottom: 4em;
}

.new-product-container{
  display: flex;
}

.new-product-list{
  display: flex;
  justify-content: center;
  padding-left: 7em;
  gap: 8em; 
  padding-bottom: 200px
}


.card h4{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.7em;
  margin-bottom: 0.5em;
}

.card p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1em;
}

.Testimonials{
  margin-top: 80px;
  margin-bottom: 11em;
}

.Testimonials h4{
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-bottom: 60px;
}

.testimonial-container{
  display: flex;
  justify-content: center;
  gap: 27px;
  padding-left: 100px;
}

.person{
  max-width: 300px;
  text-align: left;
}

.person img{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 15px;
}

.person p{
  font-family: 'Georgia', serif;
  font-style: italic;
  line-height: 1.8;
  font-size: 1.1em;
}

.approves{
  /* background-color: #4de1e3; */
  height: 250px;
  /* margin-top: 70px; */
  
}

.approve-container{
  /* background-color: orange; */
  height: 190px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.pharma-product{
  /* background-image: url("/asset/images/produits/pharma-products.jpg"); */
}

.experts{
  /* background-image: url("/asset/images/personnes/docteur-experts.jpg"); */
}
